body{
  font-family: 'Raleway', sans-serif;
}
#form{
  box-sizing: border-box;
  width: 70%;
  margin: 0 auto;
  padding: 10px 120px;
  color: rgb(116, 116, 116);
}
.nota{
  text-decoration: underline;
}
h1, h2, h4, h3{
  color: black !important;
}
select{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin: 5px 0;
}
::placeholder{
  font-family: 'Raleway', sans-serif;
}
p{
  line-height: 1.5;
}
label{
  display: inline-block;
  margin: 5px 0;
}
input[type="text"]{
  border:none;
  border-bottom: 1px solid #b5b6b7;
  background: none;
  width: 450px;
  height: 20px;
  margin: 5px 0 8px 0;
  color: #707274;
}
input[type="checkbox"]{
  margin: 5px 0;
}
input[type="file"]{
  margin: 5px 0;
}
span{
  font-style: italic;
  display: inline-block;
}
.red{
  color: red;
  font-size: 20px;
  font-weight: bold;
}
.reg-publico{
  margin-top: 600px;
}
fieldset{
  border: none;
  width: 500px;
  padding: 10px;
}
textarea{
  margin: 5px 0;
}
.left{
  float: left;
}
a{
  text-decoration: none;
  color: rgb(234, 102, 22);
}
.conteiner-button{
  text-align: center;
}
.button{
  background-color: rgb(234, 102, 22);
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
  font-family: 'Raleway', sans-serif;
}
.texto-final{
  text-align: right;
}
.oculto-si{
  display: none;
}
.mostrar{
  display: block !important;
}
.mostrar-otros{
  display: none;
}
footer{
  box-sizing: border-box;
  width: 100%;
  background-color: #3E3F40;
  height: 250px;
  color: white;
  position: absolute;
  left: 0;
}
footer a{
  color: rgb(64, 64, 64);
}
.text-footer{
  color: white !important;
}
.footer-left{
  display: inline-block;
  width: 300px;
  margin: 60px 420px;
}
.footer-left li{
  margin-left: -40px;
  list-style-type: none;
  font-size: 13px;
  color:rgb(207, 207, 207);
}
.footer-rigth{
  text-align: center;
  display: inline-block;
  width: 300px;
  margin-left: 100px;
}
.footer-rigth img{
  width: 29px;
  height: 28px;
  margin: 10px;
}
a .facebook{
  width: 15px;
}
