body{
  font-family: 'Raleway', sans-serif;
}
#form{
  box-sizing: border-box;
  width: 70%;
  margin: 0 auto;
  padding: 10px 120px;
  color: rgb(116, 116, 116);
}
h1, h2, h4{
  color: rgb(78, 78, 78) !important;
}
select{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin: 5px 0;
}
p{
  line-height: 1.5;
}
label{
  display: inline-block;
  margin: 5px 0;
}
input[type="text"]{
  border:none;
  border-bottom: 1px solid;
  background: none;
  width: 450px;
  height: 20px;
  margin: 5px 0 8px 0;
  color: rgb(116, 116, 116);
}
input[type="checkbox"]{
  margin: 5px 0;
}
span{
  font-style: italic;
  display: inline-block;
}
fieldset{
  border: none;
  width: 500px;
  padding: 10px;
}
textarea{
  margin: 5px 0;
}
.left{
  float: left;
}
a{
  text-decoration: none;
  color: rgb(234, 102, 22);
}
.button{
  background-color: rgb(234, 102, 22);
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
}
footer{
  width: 100%;
  background-color: rgb(79, 79, 79);
  padding: 0 400px;
  height: 200px;
  color: white;
}
footer a{
  color: rgb(64, 64, 64);
}
.footer-left{
  display: inline-block;
  width: 500px;
}
.footer-left li{
  margin-left: -40px;
  list-style-type: none;
  font-size: 13px;
  color:rgb(207, 207, 207);
}
.footer-rigth{
  text-align: center;
  display: inline-block;
  width: 500px;
}
